config MSM_CAMERA_V4L2
	 bool "MSM Camera V4L2 Interface"
	 depends on MSM_CAMERA
	 default n
	 ---help---
	   This flag enables V4L2 interface of MSM
	   camera driver. If enabled, application interacts
	   with /dev/video0 through V4L2 APIs. Otherwise,
	   native APIs are used through /dev/config0, /dev/frame0,
	   and /dev/control0.

choice
	 prompt "Qualcomm MSM camera and video capture support"
	 depends on MSM_CAMERA
	 default MSM_CAMERA_7X30

	 config MSM_CAMERA_7X30
	    bool "msm camera 7x30"

	 config MSM_CAMERA_8X60
	    bool "msm camera 8x60"

endchoice

config CAMERA_MULTISHOT
	bool "Qualcomm MSM Multishot support"
	depends on MSM_CAMERA && ARCH_MSM7X30
	default n
	---help---
	 Enable support for Multishot

config FLASH_BACKLIGHT_OFF
	bool "Turn off backlight when flash high"
	depends on MSM_CAMERA
	help
	 Turn off backlight when flash high

comment "Camera Sensor Selection"

config S5K3H1GX
	bool "Sensor s5k3h1gx"
	depends on MSM_CAMERA
	default n
	---help---
	  Samsung 8M 3H1 MIPI AF Sensor

config OV8810
	bool "Sensor ov8810"
	depends on MSM_CAMERA
	default n
	---help---
	  OmniVision 8M Bayer Sensor

config MSM_CAMERA_FLASH
	bool "Qualcomm MSM camera flash support"
	depends on MSM_CAMERA
	default n
	---help---
	  Enable support for LED flash for msm camera

config MSM_GEMINI
	tristate "Qualcomm MSM Gemini Jpeg Engine support"
	depends on MSM_CAMERA && (ARCH_MSM7X30 || ARCH_MSM8X60 || ARCH_MSM8960)
	default n
	---help---
	  Enable support for Gemini Jpeg Engine

config MSM_VPE
	tristate "Qualcomm MSM Video Pre-processing Engine support"
	depends on MSM_CAMERA && (ARCH_MSM7X30 || ARCH_MSM8X60)
	default y
	---help---
	  Enable support for Video Pre-processing Engine

config QUP_EXCLUSIVE_TO_CAMERA
	bool "QUP exclusive to camera"
	depends on MSM_CAMERA
	default y
	---help---
	  This flag enabled states that QUP
	  is exclusive to camera. In case this
	  is disabled, the lvs1 voltage is enabled
	  by QUP in the board file as QUP is used by
	  applications other than camera.
