menu "MSM SoC Audio support"

config SND_MSM7KV2_SOC
	tristate "SoC Audio for the MSM7KV2 chip"
	depends on ARCH_MSM7X30 && (MSM7KV2_AUDIO || MSM7KV2_1X_AUDIO)
	default y
	help
	  To add support for ALSA PCM driver for QSD8k board.

config SND_MSM7KV2_DAI_SOC
	tristate "SoC CPU/CODEC DAI for the MSM7x30 chip"
	depends on SND_MSM7KV2_SOC
	default y
	help
	 To add support for ALSA PCM driver for MSM7x30 board.

config SND_MSM_SOC_MSM7KV2
	tristate "SoC Audio support for MSM7KV2"
	depends on SND_MSM7KV2_SOC
	default y
	help
	 To add support for SoC audio on qsd8k.

endmenu
